rethinkdb-net/bin
rethinkdb-net/obj
rethinkdb-net-test/bin
rethinkdb-net-test/obj
rethinkdb-net-newtonsoft/bin
rethinkdb-net-newtonsoft/obj
rethinkdb-net-newtonsoft-test/bin
rethinkdb-net-newtonsoft-test/obj
rethinkdb-net-test/test-results
rethinkdb-net-newtonsoft-test/test-results
Examples/*/bin
Examples/*/obj
*.suo
*.userprefs
rethinkdb_data
test-results
TestResult.xml
rethinkdb-net.*.nupkg
rethinkdb-net-newtonsoft.*.nupkg

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# User-specific files
*.suo
*.user

#mono pdbs
*.pidb